beautifulsoup4==4.3.2
demjson==2.2.3
django-extensions==1.6.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.2
django-crispy-forms==1.5.2
django-debug-toolbar==1.4
django-filter==0.11.0
django-toolbelt==0.0.1
djangorestframework==3.1.1
djangorestframework-filters==0.6.0
gunicorn==19.3.0
numpy==1.9.1
oauthlib==0.7.2
psycopg2==2.6
PuLP==1.5.9
PyJWT==1.1.0
pyparsing==1.5.7
python-openid==2.2.5
python-social-auth==0.2.7
requests==2.7.0
requests-oauthlib==0.5.0
scipy==0.14.0
six==1.9.0
sqlparse==0.1.18
static3==0.5.1
wheel==0.24.0
