<div class="row" id="top">
    <div class="col-md-12">
        <h1 ng-cloak>{{ page_info.message }}</h1>
        <div class="row">
            <div class="col-md-3">
                Nutrition Standard: 
            </div>
            <div class="col-md-9">
                <select 
                    class="form-control"
                    ng-cloak 
                    ng-model="page_info.selected_standard"
                    ng-change="setMeal()"
                >
                    <option ng-value="standard.id" ng-repeat="standard in page_info.standards.results">
                        {{ standard.name }}
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                # of days:
            </div>
            <div class="col-md-9">
                <input class="col-md-12" ng-model="page_info.selected_span" />
            </div>
        </div>
         <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="label label-danger">Exclude</span> No product with the selected tag will be included if they are selected here. For example, if you select 'Diary' by clicking on it then NO products returned will have the dairy tag. Think of these as allergies or strong dislikes. 
            </div>
            <div class="col-md-9">
                <span 
                    ng-repeat="tag in page_info.tags.results" 
                    class="label"
                    style="margin-right:5px; display:inline-block"
                    ng-class="{'label-default': !tag.selected,'label-danger': tag.selected}"
                    ng-init="tag.selected=false;"
                    ng-click="tag.selected=!tag.selected;"
                >
                    {{ tag.name }}
                </span>
            </div>
        </div>
   </div>
<div class="row">
    <div class="col-md-12">
        <h1 ng-cloak>Nutrients <button ng-init="page_info.show_nutrients=false;" ng-click="page_info.show_nutrients=!page_info.show_nutrients" type="button" class="btn btn-info">Show/Hide</button></h1>
        <table class='table' ng-show="page_info.show_nutrients">
            <tr>
                <td>#</td>
                <td>Nutrient</td>
                <td>Unit</td>
                <td>Min.</td>
                <td>Max.</td>
                <td>My&nbsp;Plan</td>
            </tr>
            <tr ng-repeat="constraint in page_info.standard_constraints">
                <td>
                    {{ $index+1 }}
                </td>
                <td>
                    {{ constraint.nutrient.name }}
                </td>
                <td>
                    {{ constraint.nutrient.unit.name }}
                </td>
                <td>
                    <form>
                      <div class="form-group">
                        <input 
                        class="form-control"
                        ng-model="constraint.quantity" 
                        />
                      </div>
                    </form>
                </td>
                <td>
                    <form>
                      <div class="form-group">
                        <input 
                        class="form-control"
                        ng-model="constraint.max_quantity" 
                        />
                      </div>
                    </form>
                </td>
                <td>
                    <span>
                        {{ page_info.mealplan.nutrition_info_line_items[constraint.nutrient.id].total/page_info.selected_span | number:'2' }}
                    </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12 text-right" >
        <p>
            <br/>
            <a class="btn btn-primary" ng-click="findOptimalMealPlan()">Find Meal Plan</a>
            <br/>
            <br/>
        </p>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h1>Meal Plan <button ng-init="page_info.show_all_products=false;" ng-click="page_info.show_all_products=!page_info.show_all_products" type="button" class="btn btn-info">Show all Produts?</button>
        </h1>
        <p ng-if="page_info.mealplan">
            <h4>Optimal Meal Plan</h4>
            <span ng-if="page_info.selected_standard == ''">
                Please select a meal plan to continue.
            </span>
            <span ng-if="page_info.failed_to_find_meal">
                We couldn't find a meal plan for you. Please try and lighten your constraints or checkback later when more products have been added.
            </span>
            <p ng-if="!page_info.failed_to_find_meal">
                <table class='table' ng-show="page_info.mealplan.success">
                    <tr class="active">
                        <td>Product</td>
                        <td class="success" colspan="3'">Custom Quanity</td>
                        <td>Suggested Quantity</td>
                        <td>Price</td>
                        <td>Total</td>
                    </tr>
                    <tr ng-repeat="lineitem in page_info.mealplan.product_line_items | orderBy:'-product_quantity'" ng-show="page_info.show_all_products || (lineitem.product_quantity > 0)">
                        <td>
                            {{ lineitem.name }}<br/>
                            {{ page_info.products.results[get_product_index_by_id(lineitem.id)].quanity_as_listed }} grams or {{ page_info.products.results[get_product_index_by_id(lineitem.id)].quanity_as_listed * 0.00220462 | number : 1 }} lbs 
                        </td>
                        <td>
                            <select 
                                ng-cloak 
                                ng-model="page_info.products.results[get_product_index_by_id(lineitem.id)].custom_span"
                            >
                                <option value="none">None</option>
                                <option value="entire">Entire Period</option>
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                            </select>
                        </td>
                        <td class="col-xs-2">
                          <div class="form-group">
                            <input 
                                class="form-control"
                                ng-model="page_info.products.results[get_product_index_by_id(lineitem.id)].quantity" 
                            />
                          </div>
                        </td>
                        <td class="col-xs-2">
                          <div class="form-group">
                            <input 
                                class="form-control"
                                ng-model="page_info.products.results[get_product_index_by_id(lineitem.id)].max_quantity" 
                            />
                          </div>
                        </td>
                        <td>
                            {{ lineitem.product_quantity }}
                        </td>
                        <td>
                            {{ lineitem.price | currency }}
                        </td>
                        <td>
                            {{ lineitem.product_quantity*lineitem.price |  currency }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Total
                        </td>
                        <td>
                            {{ page_info.mealplan.product_total | currency }}<br/>
                            {{ page_info.mealplan.product_total / page_info.selected_span | currency }} / days
                        </td>
                    </tr>
                </table>
            </p>
        </p>
    </div>
</div>

