<div class="row">
    <div class="col-md-12">
        <h1 ng-cloak>{{ page_info.message }}</h1>
        <div class="row">
            <div class="col-md-3">
                Nutrition Standard: 
            </div>
            <div class="col-md-9">
                <select 
                    class="form-control"
                    ng-cloak 
                    ng-model="page_info.selected_standard"
                    ng-change="setMeal()"
                >
                    <option ng-value="standard.id" ng-repeat="standard in page_info.standards.results">
                        {{ standard.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Mealspan Plan: 
            </div>
            <div class="col-md-9">
                <select 
                    class="form-control"
                    ng-cloak 
                    ng-model="page_info.selected_span"
                >
                    <option ng-value="span" ng-repeat="span in page_info.spans">
                        {{ span }} day(s)
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="label label-danger">Exclude</span> No product with the selected tag will be included if they are selected here. For example, if you select 'Diary' by clicking on it then NO products returned will have the dairy tag. Think of these as allergies or strong dislikes. 
            </div>
            <div class="col-md-9">
                <span 
                    ng-repeat="tag in page_info.exclude_tags.results" 
                    class="label"
                    style="margin-right:5px; display:inline-block"
                    ng-class="{'label-default': !tag.selected,'label-primary': tag.selected}"
                    ng-init="tag.selected=false;"
                    ng-click="tag.selected=!tag.selected;"
                >
                    {{ tag.name }}
                </span>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="label label-warning">Required</span> Every product will have all of these. If you ONLY want products that are natural then click natural and every product returned will have to have the natural tag.
            </div>
            <div class="col-md-9">
                <span 
                    ng-repeat="tag in page_info.required_tags.results" 
                    class="label"
                    style="margin-right:5px; display:inline-block"
                    ng-class="{'label-default': !tag.selected,'label-primary': tag.selected}"
                    ng-init="tag.selected=false;"
                    ng-click="tag.selected=!tag.selected;"
                >
                    {{ tag.name }}
                </span>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span class="label label-success">Desires</span> Any product shown to you will have at least one of these tag. If you want fruits, vegetables, and meats, you can select those tags by clicking on them and EVERY product return will be tagged with either fruit, vegetable or meat.
            </div>
            <div class="col-md-9">
                <span 
                    ng-repeat="tag in page_info.desired_tags.results" 
                    class="label"
                    style="margin-right:5px; display:inline-block"
                    ng-class="{'label-default': !tag.selected,'label-primary': tag.selected}"
                    ng-init="tag.selected=true;"
                    ng-click="tag.selected=!tag.selected;"
                >
                    {{ tag.name }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right" >
        <p>
            <br/>
            <a class="btn btn-primary" ng-click="findOptimalMealPlan()">Find Meal Plan</a>
            <br/>
            <br/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class='table'>
            <tr>
                <td>#</td>
                <td>Nutrient</td>
                <td>Unit</td>
                <td>Min.</td>
                <td>Max.</td>
                <td>My&nbsp;Plan</td>
            </tr>
            <tr ng-repeat="constraint in page_info.standard_constraints">
                <td>
                    {{ $index+1 }}
                </td>
                <td>
                    {{ constraint.nutrient.name }}
                </td>
                <td>
                    {{ constraint.nutrient.unit.name }}
                </td>
                <td>
                    <form>
                      <div class="form-group">
                        <input 
                        class="form-control"
                        ng-model="constraint.quantity" 
                        />
                      </div>
                    </form>
                </td>
                <td>
                    <form>
                      <div class="form-group">
                        <input 
                        class="form-control"
                        ng-model="constraint.max_quantity" 
                        />
                      </div>
                    </form>
                </td>
                <td>
                    <span>
                        {{ page_info.mealplan.nutrition_info_line_items[constraint.nutrient.id].total/page_info.selected_span | number:'2' }}
                    </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class='table'>
            <tr>
                <td>#</td>
                <td>Product</td>
                <td>Tags</td>
                <td>Size</td>
                <td>Span</td>
                <td>Min.</td>
                <td>Max.</td>
            </tr>
            <tr ng-repeat="product in page_info.products.results" ng-if="should_show_product(product)">
                <td>
                    {{ $index+1 }}
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    <span ng-repeat="tag in product.tags">{{ tag.name }}{{ $last ? '':',' }} </span>
                </td>
                <td>
                    {{ product.quanity_as_listed | number:1 }}&nbsp;grams <br/>
                    {{ product.quanity_as_listed * 0.00220462 | number:1 }}&nbsp;lbs <br/>
                </td>
                <td>
                    <select 
                        ng-cloak 
                        ng-model="product.custom_span"
                        ng-init="product.custom_span='daily'"
                    >
                        <option value="none">None</option>
                        <option value="entire">Entire Period</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                    </select>
                </td>
                <td class="col-xs-2">
                  <div class="form-group">
                    <input 
                        class="form-control"
                        ng-model="product.quantity" 
                    />
                  </div>
                </td>
                <td class="col-xs-2">
                  <div class="form-group">
                    <input 
                        class="form-control"
                        ng-model="product.max_quantity" 
                    />
                  </div>
                </td>
            </tr>
        </table>        
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right" >
        <p>
            <br/>
            <a class="btn btn-primary" ng-click="findOptimalMealPlan()">Find Meal Plan</a>
        </p>
    </div>
    <div class="col-md-12">
        <h1>Meal Plan</h1>
        <p ng-if="page_info.mealplan">
            <h4>Optimal Meal Plan</h4>
            <span ng-if="page_info.selected_standard == ''">
                Please select a meal plan to continue.
            </span>
            <span ng-if="page_info.getting_meal_plan && page_info.selected_standard!=''">
                We are working on retrieving a meal plan for you! Please be patient. 
            </span>
            <span ng-if="page_info.failed_to_find_meal">
                We couldn't find a meal plan for you. Please try and lighten your constraints or checkback later when more products have been added.
            </span>
            <p>
                <table class='table' ng-show="page_info.mealplan.success">
                    <tr>
                        <td>Product</td>
                        <td>#</td>
                        <td>Price</td>
                        <td>Total</td>
                    </tr>
                    <tr ng-repeat="lineitem in page_info.mealplan.product_line_items | orderBy:'-product_quantity'" ng-show="lineitem.product_quantity">
                        <td>
                            {{ lineitem.name }}
                            {{ lineitem.product_package_size }}
                        </td>
                        <td>
                            {{ lineitem.product_quantity }}
                        </td>
                        <td>
                            {{ lineitem.price | currency }}
                        </td>
                        <td>
                            {{ lineitem.product_quantity*lineitem.price |  currency }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            Total
                        </td>
                        <td>
                            {{ page_info.mealplan.product_total | currency }}<br/>
                            {{ page_info.mealplan.product_total / page_info.selected_span | currency }} / days
                        </td>
                    </tr>
                </table>
            </p>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed">
            <tr>
                <td>
                    Nutrient
                </td>
                <td ng-repeat="lineitem in page_info.mealplan.product_line_items | filter:greaterThan('product_quantity', 0)">
                    {{ lineitem.name }}
                </td>
            </tr>
            <tr>
                <td>
                    #
                </td>
                <td ng-repeat="lineitem in page_info.mealplan.product_line_items | filter:greaterThan('product_quantity', 0)">
                    {{ lineitem.product_quantity }}
                </td>
            </tr>
            <tr ng-repeat="constraint in page_info.standard_constraints">
                <td>
                    {{ constraint.nutrient.name }}
                </td>
                <td ng-repeat="lineitem in page_info.mealplan.product_line_items | filter:greaterThan('product_quantity', 0)">
                    {{ lineitem.nutrient_totals[constraint.nutrient.id] | number:'2' }}
                </td>
            </tr>
        </table>
    </div>
</div>

<style type="text/css">
.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}    
</style>